<%- include('./layouts/header'); -%>
<link rel="stylesheet" href="/css/examEdit.css" />
<body>
  <!-- NAV -->
  <%- include('./layouts/navbar'); -%>
  <p id="user_id" class="hidden"><%= user.id %></p>

  <main>
    <!-- SIDEBAR START -->
    <%- include('./layouts/superSidebar'); -%>
    <!-- SIDEBAR END -->


    <div class="main-content">
      <div class="main-background">

        <!-- HAPUS UJIAN START -->
        <div class="main-title">
          <p class="text-main font-bold text-2xl mt-3">Mengubah Ujian</p>
          <form action="" id="form-hapus-ujian">
            <button type="button" id="button-delete" class="text-sm rounded-lg py-2 px-10 text-white mt-10 bg-red-500">Hapus Ujian</button>
          </form>
        </div>
        <!-- HAPUS UJIAN START -->


        <form id="form-submit-exam" action="/api/exams">
          <!-- EXAM START -->
          <div class="main-input">
            <label for="">
              Nama Ujian <br />
              <input class="exam-type text-main" type="text" name="exam_name" id="exam_name" required placeholder="masukan nama ujian" />
              Topik Ujian
              <select name="exam_type" class="exam-type text-main" required id="exam_type" >
                <option value="">--pilih ujian--</option>
              </select>
            </label>
            <div class="main-input-config">
              <label for="">
                KKM <br />
                <input class="exam-input text-main" type="number" name="kkm_point" id="kkm_point" value="70" />
              </label>  
            </div>
            <div class="assign-container">
              <label for="">Diujikan ke</label>
              <div class="assign-button">
                <span class="checkedSiswaExam text-main">0 Siswa</span>
                <span class="text-main"><i class="uil uil-edit edit-button"></i></span>
              </div>
            </div>
          </div>
          

          <div class="questions-box">
            <div class="questions"></div>
          </div>

          <div class="submit-input">
            <button type="button" id="selesai">Selesai</button>
          </div>

          <div class="assign-layer">
            <div class="assign-bg">
              <div class="close">X</div>
              <div class="assign-bg-head">
                <h1 class="text-main font-bold text-2xl">Diujikan ke:</h1>
                <p>
                  silakan tentukan kelas atau siswa individu yang akan mengikuti
                  ujian ini
                </p>
              </div>
              <table id="assign-table">
                <thead>
                  <th>No</th>
                  <th>NIS</th>
                  <th>Nama</th>
                  <th>Kelas</th>
                  <th>Jurusan</th>
                  <th><input type="checkbox" name="" id="selectAll" /></th>
                </thead>
              </table>
            </div>
          </div>



          <section id="popup" class="bg-[#000]/50 fixed top-0 bottom-0 right-0 left-0 flex items-center hidden z-10">
            <div id="submit-popup" class="w-[50%] bg-white m-auto flex flex-col items-center py-20 rounded-2xl hidden">
              <img src="/img/warning-alt.png" alt="" width="120px">
              <p class="text-sm my-3">Apakah anda yakin ingin membuat data tersebut ?</p>
              <div class="mt-4 flex gap-4">
                <button type="button" class="button-batal py-1.5 px-8 bg-red-500 text-white rounded-full text-sm">Batal</button>
                <button type="submit" class="button-selesai py-1.5 px-8 bg-main text-white rounded-full text-sm">Selesai</button>
              </div>
            </div>
  
            <div id="delete-popup" class="w-[50%] bg-white m-auto flex flex-col items-center py-20 rounded-2xl hidden">
              <img src="/img/warning-alt.png" alt="" width="120px">
              <p class="text-sm my-3">Apakah anda yakin ingin menghapus data ini ?</p>
              <div class="mt-4 flex gap-4">
                <button type="button" class="button-batal py-1.5 px-8 bg-red-500 text-white rounded-full text-sm">Batal</button>
                <button type="button" class="button-hapus py-1.5 px-8 bg-main text-white rounded-full text-sm">Hapus</button>
              </div>
            </div>
  
            <div id="file-large-popup" class="w-[20%] bg-white m-auto flex flex-col items-center py-10 rounded-2xl gap-2 hidden">
              <div class="flex flex-col items-center">
                <p class="text-sm">File terlalu besar</p>
                <p class="text-slate-500">max: 1MB</p>
              </div>
              <button type="button" class="py-1.5 px-8 bg-main text-white rounded-full text-sm mt-4">OK</button>
            </div>
  
            <div id="confirm-popup" class="w-[30%] bg-white m-auto flex flex-col items-center py-10 rounded-2xl gap-2 hidden">
              <img src="/img/check.png" width="70" alt="">
              <p class="text-sm">Data berhasil diubah</p>
              <button type="button" class="py-1.5 px-8 bg-main text-white rounded-full text-sm mt-4">OK</button>
            </div>
  
            <div id="confirm-hapus-popup" class="w-[30%] bg-white m-auto flex flex-col items-center py-10 rounded-2xl gap-2 hidden">
              <img src="/img/check.png" width="70" alt="">
              <p class="text-sm">Data berhasil dihapus</p>
              <button type="button" class="py-1.5 px-8 bg-main text-white rounded-full text-sm mt-4">OK</button>
            </div>
          </section>
        </form>



      </div>
    </div>
  </main>
</body>
<%- include('./layouts/footer'); -%>
<script src="/js/examEdit.js"></script>