<%- include('./layouts/header'); -%>
<link rel="stylesheet" href="/css/examEdit.css" />
<body>
  <!-- NAV -->
  <%- include('./layouts/navbar'); -%>
  <p id="user_id" class="hidden"><%= user.id %></p>

  <main>
    <!-- SIDEBAR START -->
    <%- include('./layouts/superSidebar'); -%>
    <!-- SIDEBAR END -->


    <div class="main-content">
      <div class="main-background">

        <!-- HAPUS UJIAN START -->
        <div class="main-title">
          <p class="text-main font-bold text-2xl mt-3">Mengubah Ujian</p>
          <form action="" id="form-hapus-ujian">
            <button type="button" id="selesai-hapus" class="text-sm rounded-lg">Hapus Ujian</button>
            <div class="submit-hapus">
              <div class="submit-question">
                <img src="/img/warning-alt.png" alt="" width="150" />
                <p class="my-3">Apakah anda yakin ingin menghapus ujian?</p>
                <div class="submit-buttons mt-4">
                  <button class="ubah-button" type="button">Batal</button>
                  <button class="selesai-button" type="submit">Hapus</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- HAPUS UJIAN START -->


        <form id="form-submit-exam" action="/api/exams">
          <!-- EXAM START -->
          <div class="main-input">
            <label for="">
              Nama Ujian <br />
              <input class="exam-type text-main" type="text" name="exam_name" id="exam_name" required placeholder="masukan nama ujian" />
              Topik Ujian
              <select name="exam_type" class="exam-type text-main" required id="exam_type" >
                <option value="">--pilih ujian--</option>
              </select>
            </label>
            <div class="main-input-config">
              <label for="">
                KKM <br />
                <input class="exam-input text-main" type="number" name="kkm_point" id="kkm_point" value="70" />
              </label>  
            </div>
            <div class="assign-container">
              <label for="">Diujikan ke</label>
              <div class="assign-button">
                <span class="checkedSiswaExam text-main">0 Siswa</span>
                <span class="text-main"><i class="uil uil-edit edit-button"></i></span>
              </div>
            </div>
          </div>
          <!-- EXAM END -->

          <!-- SUBMIT LAYER START -->
          <div class="submit-layer">
            <div class="submit-question">
              <img src="/img/warning-alt.png" alt="" width="150" />
              <p class="text-sm my-3">Apakah anda yakin ingin mengubah data tersebut ?</p>
              <div class="submit-buttons mt-4">
                <button class="ubah-button" type="button">Ubah</button>
                <button class="selesai-button" type="submit">Selesai</button>
              </div>
            </div>
          </div>
          <!-- SUBMIT LAYER END -->

          <!-- WARNING LAYER START -->
          <div class="file-layer">
            <div class="file-toolarge">
              File terlalu besar <br />
              max: 200kb
              <button>Ok</button>
            </div>
          </div>
          <!-- WARNING LAYER END -->

          <div class="questions-box">
            <div class="questions"></div>
          </div>

          <div class="submit-input">
            <button type="button" id="selesai">Selesai</button>
          </div>

          <div class="assign-layer">
            <div class="assign-bg">
              <div class="close">X</div>
              <div class="assign-bg-head">
                <h1 class="text-main font-bold text-2xl">Diujikan ke:</h1>
                <p>
                  silakan tentukan kelas atau siswa individu yang akan mengikuti
                  ujian ini
                </p>
              </div>
              <table id="assign-table">
                <thead>
                  <th>No</th>
                  <th>NIS</th>
                  <th>Nama</th>
                  <th>Kelas</th>
                  <th>Jurusan</th>
                  <th><input type="checkbox" name="" id="selectAll" /></th>
                </thead>
              </table>
              <!-- <button class="assign-table-button">Simpan Perubahan</button> -->
            </div>
          </div>
        </form>
        <div class="complete-layer">
          <div class="complete-background">
            <img src="/img/check.png" width="50" alt="" />
            <p>Ujian berhasil diubah</p>
            <button type="button" id="complete-upload">OK</button>
          </div>
        </div>
        <div class="complete-layer-hapus">
          <div class="complete-background">
            <img src="/img/check.png" width="50" alt="" />
            <p>Ujian berhasil dihapus</p>
            <button type="button" id="complete-hapus">OK</button>
          </div>
        </div>

      </div>
    </div>
  </main>
</body>
<%- include('./layouts/footer'); -%>
<script src="/js/examEdit.js"></script>