<%- include('./layouts/header'); -%>
<link rel="stylesheet" href="/css/examCreate.css" />
<body>
  <!-- NAV -->
  <%- include('./layouts/navbar'); -%>
  <p id="user_id" class="hidden"><%= user.id %></p>

  <!-- MAIN -->
  <main>
    <%- include('./layouts/superSidebar'); -%>

    <div class="main-content">
      <div class="main-background">
        <form id="submit-form">
          <div class="main-title">
          <p class="text-main font-bold text-2xl mt-4">Membuat Ujian Baru <span class="text-red-500 font-medium text-xs">* harus diisi</span></p>
          </div>
          <div class="main-input">
            <label for="" class="text-sm font-bold">Nama Ujian<span style="color: #ff4c4c"> *</span></label>
            <input class="exam-type text-main py-2 px-3 focus:ring-0 focus:outline-none" type="text" name="exam_name" id="" required placeholder="masukan nama ujian"
            />
            <label for="" class="text-sm font-bold">Topik Ujian<span style="color: #ff4c4c"> *</span></label>
            <select name="exam_type" class="exam-type text-main py-2 px-3 focus:ring-0 focus:outline-none" required>
              <option value="">--pilih ujian--</option>
            </select>

            <label for="" class="text-sm font-bold">KKM <span style="color: #ff4c4c"> *</span></label>
            <br>
            <input class="exam-type text-main py-2 px-3 focus:ring-0 focus:outline-none" type="number" name="kkm_point" id="" value="70" required style="width: 25%;"
            />
        </div>
          <button class="main-create-question" id="add-question">Membuat Soal</button>


          <section id="popup" class="bg-[#000]/50 fixed top-0 bottom-0 right-0 left-0 flex items-center hidden z-10">
            <div class="delete-popup w-[50%] bg-white m-auto flex flex-col items-center py-20 rounded-2xl">
              <img src="/img/warning-alt.png" alt="" width="120px">
              <p class="text-sm my-3">Apakah anda yakin ingin membuat data tersebut ?</p>
              <div class="mt-4 flex gap-4">
                <button type="button" id="button-batal" class="py-1.5 px-8 bg-red-500 text-white rounded-full text-sm">Batal</button>
                <button type="submit" class="py-1.5 px-8 bg-main text-white rounded-full text-sm">Selesai</button>
              </div>
            </div>

            <div id="file-large-popup" class="w-[20%] bg-white m-auto flex flex-col items-center py-10 rounded-2xl gap-2 hidden">
              <div class="flex flex-col items-center">
                <p class="text-sm">File terlalu besar</p>
                <p class="text-slate-500">max: 1MB</p>
              </div>
              <button type="button" class="py-1.5 px-8 bg-main text-white rounded-full text-sm mt-4">OK</button>
            </div>

            <div id="confirm-popup" class="w-[30%] bg-white m-auto flex flex-col items-center py-10 rounded-2xl gap-2 hidden">
              <img src="/img/check.png" width="70" alt="">
              <p class="text-sm">Data berhasil ditambahkan</p>
              <button type="button" class="py-1.5 px-8 bg-main text-white rounded-full text-sm mt-4">OK</button>
            </div>
          </section>
        </form>
      </div>
    </div>
  </main>
</body>
<%- include('./layouts/footer'); -%>
<script src="/js/examCreate.js"></script>