<%- include('./layouts/header'); -%>
<body>
  <!-- NAV -->
  <%- include('./layouts/navbar'); -%>
  <p id="user_id" class="hidden"><%= user.id %></p>

  <!-- MAIN -->
  <main>
    <%- include('./layouts/superSidebar'); -%>
    <section id="ujian-page" class="h-full bg-white rounded-tl-3xl p-8">
      <div class="flex justify-between">
        <p class="text-main font-bold text-2xl">Daftar Ujian</p>
        <div class="flex gap-4 mt-5">
          <a id="button-tambah" href="/ujian/buat"><button class="bg-main text-white text-sm px-8 py-2 rounded-lg">Tambah Ujian</button></a>
        </div>
      </div>
      <div id="bg-table-ujian" class="min-h-screen shadow-[0_0px_40px_-15px_rgba(0,0,0,0.2)] w-full mt-8 rounded-3xl p-8 bg-white">
        <form id="form-ujian-delete">
          <table id="table-ujian" class="display hidden" style="width: 100%;">
            <thead>
              <tr>
                <th>No.</th>
                <th>Nama Ujian</th>
                <th>Topik Ujian</th>
                <th>Nilai KKM</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
          </table>
          <div id="bg-nothing" class="text-center">
            <img src="/img/nothing.png" alt="" class="m-auto mt-20">
            <p class="text-sm text-main font-normal">Belum Ada Ujian</p>
          </div>


          <section id="popup" class="bg-[#000]/50 fixed top-0 bottom-0 right-0 left-0 flex items-center hidden">
            <div class="delete-popup w-[50%] bg-white m-auto flex flex-col items-center py-20 rounded-2xl">
              <img src="/img/warning-alt.png" alt="" width="120px">
              <p class="text-sm my-3">Apakah anda yakin ingin menghapus data tersebut ?</p>
              <div class="mt-4 flex gap-4">
                <button type="button" id="button-batal" class="py-1.5 px-8 bg-red-500 text-white rounded-full text-sm">Batal</button>
                <button type="submit" class="py-1.5 px-8 bg-main text-white rounded-full text-sm">Hapus</button>
              </div>
            </div>
          </section>
        </form>
      </div>
    </section>
  </main>
</body>
<%- include('./layouts/footer'); -%>
<script src="/js/examPage.js"></script>
<script>
  $("#side-ujian").addClass("sidelist-selected")
</script>