<%- include('./layouts/header'); -%>
<link rel="stylesheet" href="/css/examEdit.css" />
<body>
  <!-- NAV -->
  <%- include('./layouts/navbar'); -%>

  <!-- MAIN -->
  <main>
    <div class="main-sidebar">
      <div class="profile-sidebar">
        <div class="profile-img">
          <img src="" alt="" />
        </div>
        <div class="profile-info">
          <p><b><%= user.username %></b></p>
          <p><%= user.role %></p>
        </div>
      </div>
      <div class="list-sidebar">
        <a href="/">Beranda</a>
        <a href="/siswa">Daftar Siswa</a>
        <a href="/ujian" class="selected">Ujian</a>
        <a href="/nilai">Nilai</a>
      </div>
    </div>

    <div class="main-content">
      <div class="main-background">
        <div class="main-title">
          <h2>Mengubah Ujian</h2>
          <form action="" id="hapus-ujian">
            <button type="button" id="selesai-hapus">Hapus Ujian</button>
            <div class="submit-hapus">
              <div class="submit-question">
                <img src="/img/warning-alt.png" alt="" width="150" />
                <p>Apakah anda yakin ingin menghapus ujian?</p>
                <div class="submit-buttons">
                  <button class="ubah-button" type="button">Batal</button>
                  <button class="selesai-button" type="submit">Hapus</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <form id="submit-form" action="/api/exams">
          <div class="main-input">
            <label for="">
              Nama Ujian <br />
              <input
                class="exam-type"
                type="text"
                name="exam_name"
                id="exam_name"
                required
                placeholder="masukan nama ujian"
              />
              Tipe Ujian
              <select
                name="exam_type"
                class="exam-type"
                required
                id="exam_type"
              >
                <option value="">--pilih ujian--</option>
              </select>
            </label>
            <div class="main-input-config">
              <label for="">
                KKM <br />
                <input
                  class="exam-input"
                  type="number"
                  name="kkm_point"
                  id="kkm_point"
                  value="70"
                />
              </label>
              <label for="">
                Max.Percobaan <br />
                <input
                  class="exam-input"
                  type="number"
                  name="available_try"
                  id="available_try"
                  value="2"
                />
              </label>
            </div>
          </div>
          <div class="submit-layer">
            <div class="submit-question">
              <img src="/img/warning-alt.png" alt="" width="150" />
              <p>Apakah anda sudah yakin selesai?</p>
              <div class="submit-buttons">
                <button class="ubah-button" type="button">Ubah</button>
                <button class="selesai-button" type="submit">Selesai</button>
              </div>
            </div>
          </div>

          <div class="file-layer">
            <div class="file-toolarge">
              File terlalu besar <br />
              max: 200kb
              <button>Ok</button>
            </div>
          </div>
          <div class="questions-box">
            <div class="questions"></div>
          </div>

          <div class="submit-input">
            <button type="button" id="selesai">Selesai</button>
          </div>
        </form>
        <div class="load-layer hide">
          <div class="load-background">
            <div class="custom-loader"></div>
            <p>Sedang mengubah</p>
          </div>
        </div>
        <div class="complete-layer hide">
          <div class="complete-background">
            <img src="/img/check.png" width="50" alt="" />
            <p>Ujian berhasil diubah</p>
            <button type="button" id="complete-upload">OK</button>
          </div>
        </div>
        <div class="load-layer-hapus hide">
          <div class="load-background">
            <div class="custom-loader"></div>
            <p>Sedang menghapus</p>
          </div>
        </div>
        <div class="complete-layer-hapus hide">
          <div class="complete-background">
            <img src="/img/check.png" width="50" alt="" />
            <p>Ujian berhasil dihapus</p>
            <button type="button" id="complete-hapus">OK</button>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
<script src="/js/examEdit.js"></script>
<%- include('./layouts/footer'); -%>
