<%- include('./layouts/header'); -%>
<link rel="stylesheet" href="/css/examCreate.css" />
<body>
  <!-- NAV -->
  <%- include('./layouts/navbar'); -%>
  <p id="user_id" class="hidden"><%= user.id %></p>

  <!-- MAIN -->
  <main>
    <%- include('./layouts/superSidebar'); -%>

    <div class="main-content">
      <div class="main-background">
        <form id="submit-form">
          <div class="main-title flex justify-between items-center">
            <p class="text-main font-bold text-2xl mt-4">Membuat Ujian Baru <span class="text-red-500 font-medium text-xs">* harus diisi</span></p>
            <div id="popup-autosave" class="flex gap-1 items-center bg-[#418DFF]/20 py-[3px] px-2.5 mt-auto rounded-lg hidden">
              <p class="text-sm font-medium text-[#418DFF]">Sudah tersimpan di Cloud</p>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 48 48" fill="none">
                <path d="M20.7 34L32 22.7L29.1 19.8L20.65 28.25L16.45 24.05L13.6 26.9L20.7 34ZM13 40C9.96667 40 7.375 38.95 5.225 36.85C3.075 34.75 2 32.1833 2 29.15C2 26.55 2.78333 24.2333 4.35 22.2C5.91667 20.1667 7.96667 18.8667 10.5 18.3C11.3333 15.2333 13 12.75 15.5 10.85C18 8.95 20.8333 8 24 8C27.9 8 31.2083 9.35833 33.925 12.075C36.6417 14.7917 38 18.1 38 22C40.3 22.2667 42.2083 23.2583 43.725 24.975C45.2417 26.6917 46 28.7 46 31C46 33.5 45.125 35.625 43.375 37.375C41.625 39.125 39.5 40 37 40H13Z" fill="#418DFF"/>
              </svg>
            </div>
          </div>
          <div class="main-input">
            <label for="" class="text-sm font-bold">Nama Ujian<span style="color: #ff4c4c"> *</span></label>
            <input class="exam-type text-main py-2 px-3 focus:ring-0 focus:outline-none" type="text" name="exam_name" id="" required placeholder="masukan nama ujian"
            />
            <label for="" class="text-sm font-bold">Topik Ujian<span style="color: #ff4c4c"> *</span></label>
            <select name="exam_type" class="exam-type text-main py-2 px-3 focus:ring-0 focus:outline-none" required>
              <option value="">--pilih ujian--</option>
            </select>

            <label for="" class="text-sm font-bold">KKM <span style="color: #ff4c4c"> *</span></label>
            <br>
            <input class="exam-type text-main py-2 px-3 focus:ring-0 focus:outline-none" type="number" name="kkm_point" id="" value="70" required style="width: 25%;"
            />
        </div>
          <button class="main-create-question" id="add-question">Membuat Soal</button>


          <section id="popup" class="bg-[#000]/50 fixed top-0 bottom-0 right-0 left-0 flex items-center hidden z-10">
            <div class="delete-popup w-[50%] bg-white m-auto flex flex-col items-center py-20 rounded-2xl">
              <img src="/img/warning-alt.png" alt="" width="120px">
              <p class="text-sm my-3">Apakah anda yakin ingin membuat data tersebut ?</p>
              <div class="mt-4 flex gap-4">
                <button type="button" id="button-batal" class="py-1.5 px-8 bg-red-500 text-white rounded-full text-sm">Batal</button>
                <button type="submit" class="py-1.5 px-8 bg-main text-white rounded-full text-sm">Selesai</button>
              </div>
            </div>

            <div id="file-large-popup" class="w-[20%] bg-white m-auto flex flex-col items-center py-10 rounded-2xl gap-2 hidden">
              <div class="flex flex-col items-center">
                <p class="text-sm">File terlalu besar</p>
                <p class="text-slate-500">max: 1MB</p>
              </div>
              <button type="button" class="py-1.5 px-8 bg-main text-white rounded-full text-sm mt-4">OK</button>
            </div>

            <div id="confirm-popup" class="w-[30%] bg-white m-auto flex flex-col items-center py-10 rounded-2xl gap-2 hidden">
              <img src="/img/check.png" width="70" alt="">
              <p class="text-sm">Data berhasil ditambahkan</p>
              <button type="button" class="py-1.5 px-8 bg-main text-white rounded-full text-sm mt-4">OK</button>
            </div>
          </section>
        </form>
      </div>
    </div>
  </main>
</body>
<%- include('./layouts/footer'); -%>
<script src="/js/examCreate.js"></script>