<%- include('./layouts/header'); -%>
<body>
  <!-- NAV -->
  <%- include('./layouts/navbar'); -%>
  <p id="user_id" class="hidden"><%= user.id %></p>

  <!-- MAIN -->
  <main>
    <%- include('./layouts/superSidebar'); -%>

    <section id="siswa-create" class="min-h-screen bg-white rounded-tl-3xl p-8">
      <div class="flex justify-between">
        <p class="text-main font-bold text-2xl">Menambahkan Siswa Baru <span class="text-red-500 font-medium text-xs">* harus diisi</span></p>
        <div class="">
          <form id="form-siswa-upload">
            <div class="mt-10 flex justify-between p-2 bg-main rounded-full text-white text-sm">
              <input type="file" name="siswa_upload" id="button-file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
              <button id="button-upload" type="submit" class="bg-[#faebd7] text-main px-4 py-1 rounded-full">Upload</button>
            </div>
            <p class="text-xs text-main mt-1 ms-3">*pilih file yang diinginkan lalu tekan tombol upload</p>
          </form>
        </div>
      </div>
      
      <!-- Fotm tambah siswa -->
      <form id="form-siswa-create" class="">
        <div id="bg-table-siswa" class="h-max shadow-[0_0px_40px_-15px_rgba(0,0,0,0.2)] w-full mt-4 rounded-3xl p-8 bg-main">
          <div class="flex flex-col gap-4">
            <label class="block flex flex-col gap-2">
              <span class="text-white font-bold tracking-[1.4px] text-sm">NIS <span class="text-red-500 font-medium text-xs">*</span></span>
              <!-- Using form state modifiers, the classes can be identical for every input -->
              <input required type="number" placeholder="201943502262" name="nis" class="font-normal block border-0 w-full px-3 py-[10px] bg-white rounded-lg text-sm
              focus:outline-none focus:border-white-60 focus:ring-1 focus:ring-white-60
              focus:invalid:border-pink-500 focus:invalid:ring-pink-500
              "/>
            </label>
            <label class="block flex flex-col gap-2">
              <span class="text-white font-bold tracking-[1.4px] text-sm">Nama Siswa <span class="text-red-500 font-medium text-xs">*</span></span>
              <!-- Using form state modifiers, the classes can be identical for every input -->
              <input required type="text" placeholder="Jhony Deep" name="username" class="font-normal block border-0 w-full px-3 py-[10px] bg-white rounded-lg text-sm
              focus:outline-none focus:border-white-60 focus:ring-1 focus:ring-white-60
              focus:invalid:border-pink-500 focus:invalid:ring-pink-500
              "/>
            </label>
            <div class="grid grid-cols-2">
              <label class="block flex flex-col gap-2">
                <span class="text-white font-bold tracking-[1.4px] text-sm">Kelas <span class="text-red-500 font-medium text-xs">*</span></span>
                <!-- Using form state modifiers, the classes can be identical for every input -->
                <input required type="text" placeholder="R3" name="class" class="w-1/2 font-normal block border-0 px-3 py-[10px] bg-white rounded-lg text-sm
                focus:outline-none focus:border-white-60 focus:ring-1 focus:ring-white-60
                focus:invalid:border-pink-500 focus:invalid:ring-pink-500
                "/>
              </label>
              <label class="block flex flex-col gap-2">
                <span class="text-white font-bold tracking-[1.4px] text-sm">Jurusan <span class="text-red-500 font-medium text-xs">*</span></span>
                <!-- Using form state modifiers, the classes can be identical for every input -->
                <input required type="text" placeholder="RPL" name="major" class="w-1/2 font-normal block border-0 px-3 py-[10px] bg-white rounded-lg text-sm
                focus:outline-none focus:border-white-60 focus:ring-1 focus:ring-white-60
                focus:invalid:border-pink-500 focus:invalid:ring-pink-500
                "/>
              </label>
            </div>
            <label class="block flex flex-col gap-2">
              <span class="text-white font-bold tracking-[1.4px] text-sm">Jenis Kelamin <span class="text-red-500 font-medium text-xs">*</span></span>
              <!-- Using form state modifiers, the classes can be identical for every input -->
              <div class="flex gap-4">
                <div class="flex items-center">
                  <input checked id="default-radio-1" type="radio" value="laki-laki" name="gender" class="w-4 h-4 text-white bg-gray-100 border-gray-300 focus:ring-0">
                  <label for="default-radio-1" class="ml-2 text-sm font-medium text-white">Laki-Laki</label>
                </div>
                <div class="flex items-center">
                  <input id="default-radio-2" type="radio" value="perempuan" name="gender" class="w-4 h-4 text-white bg-gray-100 border-gray-300 focus:ring-0">
                  <label for="default-radio-2" class="ml-2 text-sm font-medium text-white">Perempuan</label>
                </div>
              </div>
            </label>
          </div>
        </div>
        <div class="flex justify-end mt-7">
          <button type="button" id="button-selesai" class="py-2 px-10 bg-main text-white text-sm rounded-full ms-auto hover:bg-main/80 duration-200">Selesai</button>
        </div>


        <section id="popup" class="bg-[#000]/50 fixed top-0 bottom-0 right-0 left-0 flex items-center hidden">
          <div class="delete-popup w-[50%] bg-white m-auto flex flex-col items-center py-20 rounded-2xl">
            <img src="/img/warning-alt.png" alt="" width="120px">
            <p class="text-sm my-3">Apakah anda yakin ingin membuat data tersebut ?</p>
            <div class="mt-4 flex gap-4">
              <button type="button" id="button-batal" class="py-1.5 px-8 bg-red-500 text-white rounded-full text-sm">Batal</button>
              <button type="submit" class="py-1.5 px-8 bg-main text-white rounded-full text-sm">Selesai</button>
            </div>
          </div>
          <div id="confirm-popup" class="w-[30%] bg-white m-auto flex flex-col items-center py-10 rounded-2xl gap-2 hidden">
            <img src="/img/check.png" width="70" alt="">
            <p class="text-sm">Data berhasil ditambahkan</p>
            <button type="button" class="py-1.5 px-8 bg-main text-white rounded-full text-sm mt-4">OK</button>
          </div>
        </section>
      </form>
    </section>
  </main>
</body>
<%- include('./layouts/footer'); -%>
<script src="/js/siswaCreate.js"></script>
