<%- include('./layouts/header'); -%>
<body>
  <!-- NAV -->
  <%- include('./layouts/navbar'); -%>
  <p id="user_id" class="hidden"><%= user.id %></p>

  <!-- MAIN -->
  <main>
    <%- include('./layouts/superSidebar'); -%>
    <section id="topik-edit" class="min-h-screen bg-white rounded-tl-3xl p-8">
      <p class="text-main font-bold text-2xl">Mengubah Data Topik Ujian <span class="text-red-500 font-medium text-xs">* harus diisi</span></p>
      <form id="form-topik-edit" class="">
        <div id="bg-table-topik" class="h-max shadow-[0_0px_40px_-15px_rgba(0,0,0,0.2)] w-full mt-8 rounded-3xl p-8 bg-main">
          <div class="flex flex-col gap-4">
            <label class="block flex flex-col gap-2">
              <span class="text-white font-bold tracking-[1.4px] text-sm">Topik Ujian <span class="text-red-500 font-medium text-xs">*</span></span>
              <!-- Using form state modifiers, the classes can be identical for every input -->
              <input required type="text" placeholder="Manasik Haji" name="exam_type" class="font-normal block border-0 w-full px-3 py-[10px] bg-white rounded-lg text-sm
              focus:outline-none focus:border-white-60 focus:ring-1 focus:ring-white-60
              focus:invalid:border-pink-500 focus:invalid:ring-pink-500
              "/>
            </label>
          </div>
        </div>
        <div class="mt-10 flex justify-end">
          <button id="button-selesai" type="button" class="py-2 px-10 bg-main text-white text-sm rounded-full ms-auto hover:bg-main/80 duration-200">Selesai</button>
        </div>
        <section id="popup" class="bg-[#000]/50 fixed top-0 bottom-0 right-0 left-0 flex items-center hidden">
          <div id="popup-simpan" class="delete-popup w-[50%] bg-white m-auto flex flex-col items-center py-20 rounded-2xl">
            <img src="/img/warning-alt.png" alt="" width="120px">
            <p class="text-sm my-3">Apakah anda yakin ingin mengubah data tersebut ?</p>
            <div class="mt-4 flex gap-4">
              <button type="button" id="button-batal" class="py-1.5 px-8 bg-red-500 text-white rounded-full text-sm">Batal</button>
              <button type="submit" class="py-1.5 px-8 bg-main text-white rounded-full text-sm">Selesai</button>
            </div>
          </div>
          <div id="confirm-popup" class="w-[30%] bg-white m-auto flex flex-col items-center py-10 rounded-2xl gap-2 hidden">
            <img src="/img/check.png" width="70" alt="">
            <p class="text-sm">Data berhasil diubah</p>
            <button type="button" class="py-1.5 px-8 bg-main text-white rounded-full text-sm mt-4">OK</button>
          </div>
        </section>
      </form>
    </section>
  </main>
</body>
<%- include('./layouts/footer'); -%>
<script src="/js/superUjianEdit.js"></script>
