<%- include('./layouts/header'); -%>
<link rel="stylesheet" href="/css/examPage.css" />
<body>
  <!-- NAV -->
  <%- include('./layouts/navbar'); -%>

  <!-- MAIN -->
  <main>
    <div class="main-sidebar">
      <div class="profile-sidebar">
        <div class="profile-img">
          <img src="" alt="" />
        </div>
        <div class="profile-info">
          <p><b><%= user.username %></b></p>
          <p><%= user.role %></p>
        </div>
      </div>
      <div class="list-sidebar">
        <a href="/admin">Daftar Admin</a>
        <a href="/guru" class="selected">Daftar Guru</a>
        <a href="/tipe_ujian">Tipe Ujian</a>
      </div>
    </div>
    <div class="main-content">
      <div class="main-background">
        <form action="" id="form-delete">
          <div class="main-title">
            <h2>Daftar Guru</h2>
            <div class="main-side">
              <a href="/guru/buat"
                ><button class="buat-ujian-baru">+ Tambah Guru</button></a
              ><button class="hapus-button" disabled>Hapus</button>
            </div>
          </div>
          <div class="main-table">
            <div class="main-table-title">
              <table id="siswa-table" class="display" style="width: 100%">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Nama Guru</th>
                    <th></th>
                    <th><input type="checkbox" name="" id="selectAll" /></th>
                  </tr>
                </thead>
              </table>
            </div>
            <hr />
            <div class="main-table-body"></div>
          </div>
        </form>
      </div>
    </div>
  </main>
</body>
<script src="/js/superPageGuru.js"></script>
<%- include('./layouts/footer'); -%>
