<%- include('./layouts/header'); -%>
<link rel="stylesheet" href="/css/examPage.css" />
<body>
  <!-- NAV -->
  <%- include('./layouts/navbar'); -%>

  <!-- MAIN -->
  <main>
    <div class="main-sidebar">
      <div class="profile-sidebar">
        <div class="profile-img">
          <img src="" alt="" />
        </div>
        <div class="profile-info">
          <p><b><%= user.username %></b></p>
          <p><%= user.role %></p>
        </div>
      </div>
      <div class="list-sidebar">
        <a href="/admin" class="selected">Daftar Admin</a>
        <a href="/guru">Daftar Guru</a>
        <a href="/tipe_ujian">Tipe Ujian</a>
      </div>
    </div>
    <div class="main-content">
      <div class="main-background">
        <form action="" id="form-delete">
          <div class="main-title">
            <h2>Daftar Admin</h2>
            <div class="main-side">
              <a href="/admin/buat"
                ><button class="buat-ujian-baru" type="button">
                  + Tambah Admin
                </button></a
              ><button class="hapus-button" disabled>Hapus</button>
            </div>
          </div>
          <div class="main-table">
            <div class="main-table-title">
              <table id="siswa-table" class="display" style="width: 100%">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Nama Admin</th>
                    <th></th>
                    <th><input type="checkbox" name="" id="selectAll" /></th>
                  </tr>
                </thead>
              </table>
            </div>
            <hr />
            <div class="main-table-body"></div>
          </div>
          <div class="submit-layer">
            <div class="submit-question">
              <img src="/img/warning-alt.png" alt="" width="150" />
              <p>Apakah anda yakin ingin menghapus admin tersebut ?</p>
              <div class="submit-buttons">
                <button class="ubah-button" type="button">Batal</button>
                <button class="selesai-button">Hapus</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>
</body>
<script src="/js/superPageAdmin.js"></script>
<%- include('./layouts/footer'); -%>
