<%- include('./layouts/header'); -%>
<body>
  <!-- NAV -->
  <%- include('./layouts/navbar'); -%>
  <p id="user_id" class="hidden"><%= user.id %></p>

  <!-- MAIN -->
  <main>
    <%- include('./layouts/superSidebar'); -%>
    <section id="admin-edit" class="min-h-screen bg-white rounded-tl-3xl p-8">
      <p class="text-main font-bold text-2xl">Mengubah Data Admin <span class="text-red-500 font-medium text-xs">* harus diisi</span></p>
      <form id="form-admin-edit" class="">
        <div id="bg-table-admin" class="h-max shadow-[0_0px_40px_-15px_rgba(0,0,0,0.2)] w-full mt-8 rounded-3xl p-8 bg-main">
          <div class="flex flex-col gap-4">
            <label class="block flex flex-col gap-2">
              <span class="text-white font-bold tracking-[1.4px] text-sm">Email <span class="text-red-500 font-medium text-xs">*</span></span>
              <!-- Using form state modifiers, the classes can be identical for every input -->
              <input required type="email" placeholder="siswa@gmail.com" name="email" class="font-normal block border-0 w-full px-3 py-[10px] bg-white rounded-lg text-sm
              focus:outline-none focus:border-white-60 focus:ring-1 focus:ring-white-60
              focus:invalid:border-pink-500 focus:invalid:ring-pink-500
              "/>
            </label>
            <label class="block flex flex-col gap-2">
              <span class="text-white font-bold tracking-[1.4px] text-sm">NUPTK <span class="text-red-500 font-medium text-xs">*</span></span>
              <!-- Using form state modifiers, the classes can be identical for every input -->
              <input required type="number" placeholder="201943501293" name="nuptk" class="font-normal block border-0 w-full px-3 py-[10px] bg-white rounded-lg text-sm
              focus:outline-none focus:border-white-60 focus:ring-1 focus:ring-white-60
              focus:invalid:border-pink-500 focus:invalid:ring-pink-500
              "/>
            </label>
            <label class="block flex flex-col gap-2">
              <span class="text-white font-bold tracking-[1.4px] text-sm">Nama Admin <span class="text-red-500 font-medium text-xs">*</span></span>
              <!-- Using form state modifiers, the classes can be identical for every input -->
              <input required type="text" placeholder="Jhoni Suherman" name="username" class="font-normal block border-0 w-full px-3 py-[10px] bg-white rounded-lg text-sm
              focus:outline-none focus:border-white-60 focus:ring-1 focus:ring-white-60
              focus:invalid:border-pink-500 focus:invalid:ring-pink-500
              "/>
            </label>
            <label class="block flex flex-col gap-2">
              <span class="text-white font-bold tracking-[1.4px] text-sm">Jenis Kelamin <span class="text-red-500 font-medium text-xs">*</span></span>
              <!-- Using form state modifiers, the classes can be identical for every input -->
              <div class="flex gap-4">
                <div class="flex items-center">
                  <input checked id="default-radio-1" type="radio" value="laki-laki" name="gender" class="w-4 h-4 text-white bg-gray-100 border-gray-300 focus:ring-0">
                  <label for="default-radio-1" class="ml-2 text-sm font-medium text-white">Laki-Laki</label>
                </div>
                <div class="flex items-center">
                  <input id="default-radio-2" type="radio" value="perempuan" name="gender" class="w-4 h-4 text-white bg-gray-100 border-gray-300 focus:ring-0">
                  <label for="default-radio-2" class="ml-2 text-sm font-medium text-white">Perempuan</label>
                </div>
              </div>
            </label>
          </div>
        </div>
        <div class="flex justify-between mt-7">
          <div class="">
            <button id="button-katasandi" type="button" class="py-2 px-10 bg-red-500 text-white text-sm rounded-full ms-auto hover:bg-red-500/80 duration-200">Ubah Kata Sandi</button>
          </div>
          <div class="mt-10">
            <button id="button-selesai" type="button" class="py-2 px-10 bg-main text-white text-sm rounded-full ms-auto hover:bg-main/80 duration-200">Selesai</button>
          </div>
        </div>
      </form>
    </section>

    <section id="popup" class="bg-[#000]/50 fixed top-0 bottom-0 right-0 left-0 flex items-center hidden">
      <div id="popup-simpan" class="delete-popup w-[50%] bg-white m-auto flex flex-col items-center py-20 rounded-2xl hidden">
        <img src="/img/warning-alt.png" alt="" width="120px">
        <p class="text-sm my-3">Apakah anda yakin ingin mengubah data tersebut ?</p>
        <div class="mt-4 flex gap-4">
          <button type="button" id="button-batal-simpan" class="py-1.5 px-8 bg-red-500 text-white rounded-full text-sm">Batal</button>
          <button type="button" id="button-simpan-data" class="py-1.5 px-8 bg-main text-white rounded-full text-sm">Selesai</button>
        </div>
      </div>
      <div id="confirm-popup" class="w-[30%] bg-white m-auto flex flex-col items-center py-10 rounded-2xl gap-2 hidden">
        <img src="/img/check.png" width="70" alt="">
        <p class="text-sm">Data berhasil diubah</p>
        <button type="button" class="py-1.5 px-8 bg-main text-white rounded-full text-sm mt-4">OK</button>
      </div>
      <div id="popup-katasandi" class="delete-popup bg-white m-auto flex flex-col py-4 rounded-lg text-left px-4 hidden">
        <form id="form-admin-edit-katasandi">
          <p class="text-left font-bold text-lg text-main mb-3">Mengubah Katasandi</p>
          <div id="password-confirmation" class="flex flex-col gap-2 mt-3">
            <label class="block">
                <span class="text-main font-medium text-xs mb-3">Masukan kata sandi baru <span class="text-red-500 font-medium text-xs">*</span></span>
                <div class="flex rounded-lg items-center px-3 bg-[#F1F1F1]">
                  <input
                    type="password"
                    name="new_password"
                    class="bg-transparent border-0 focus:ring-0 focus:outline-none w-[240px] py-2 font-normal text-sm placeholder:text-main text-main"
                    id="password2"
                    placeholder="Kata sandi baru"
                  />
                  <button type="button" class="show-password" data-input="#password2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 40 40" fill="none">
                      <path d="M20 26.6665C22.0833 26.6665 23.8542 25.9373 25.3125 24.479C26.7708 23.0207 27.5 21.2498 27.5 19.1665C27.5 17.0832 26.7708 15.3123 25.3125 13.854C23.8542 12.3957 22.0833 11.6665 20 11.6665C17.9167 11.6665 16.1458 12.3957 14.6875 13.854C13.2292 15.3123 12.5 17.0832 12.5 19.1665C12.5 21.2498 13.2292 23.0207 14.6875 24.479C16.1458 25.9373 17.9167 26.6665 20 26.6665ZM20 23.6665C18.75 23.6665 17.6875 23.229 16.8125 22.354C15.9375 21.479 15.5 20.4165 15.5 19.1665C15.5 17.9165 15.9375 16.854 16.8125 15.979C17.6875 15.104 18.75 14.6665 20 14.6665C21.25 14.6665 22.3125 15.104 23.1875 15.979C24.0625 16.854 24.5 17.9165 24.5 19.1665C24.5 20.4165 24.0625 21.479 23.1875 22.354C22.3125 23.229 21.25 23.6665 20 23.6665ZM20 31.6665C16.2778 31.6665 12.8819 30.6665 9.8125 28.6665C6.74306 26.6665 4.31944 24.0276 2.54167 20.7498C2.40278 20.4998 2.29861 20.2429 2.22917 19.979C2.15972 19.7151 2.125 19.4443 2.125 19.1665C2.125 18.8887 2.15972 18.6179 2.22917 18.354C2.29861 18.0901 2.40278 17.8332 2.54167 17.5832C4.31944 14.3054 6.74306 11.6665 9.8125 9.6665C12.8819 7.6665 16.2778 6.6665 20 6.6665C23.7222 6.6665 27.1181 7.6665 30.1875 9.6665C33.2569 11.6665 35.6806 14.3054 37.4583 17.5832C37.5972 17.8332 37.7014 18.0901 37.7708 18.354C37.8403 18.6179 37.875 18.8887 37.875 19.1665C37.875 19.4443 37.8403 19.7151 37.7708 19.979C37.7014 20.2429 37.5972 20.4998 37.4583 20.7498C35.6806 24.0276 33.2569 26.6665 30.1875 28.6665C27.1181 30.6665 23.7222 31.6665 20 31.6665Z" fill="#358F6C"/>
                    </svg>
                  </button>
                </div>
            </label>
            <label class="block">
              <div class="flex rounded-lg items-center px-3 bg-[#F1F1F1]">
                <input
                  type="password"
                  name=""
                  class="bg-transparent border-0 focus:ring-0 focus:outline-none w-[240px] py-2 font-normal text-sm placeholder:text-main text-main"
                  id="password3"
                  placeholder="Konfirmasi Kata Sandi Baru"
                />
                <button type="button" class="show-password" data-input="#password3">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 40 40" fill="none">
                    <path d="M20 26.6665C22.0833 26.6665 23.8542 25.9373 25.3125 24.479C26.7708 23.0207 27.5 21.2498 27.5 19.1665C27.5 17.0832 26.7708 15.3123 25.3125 13.854C23.8542 12.3957 22.0833 11.6665 20 11.6665C17.9167 11.6665 16.1458 12.3957 14.6875 13.854C13.2292 15.3123 12.5 17.0832 12.5 19.1665C12.5 21.2498 13.2292 23.0207 14.6875 24.479C16.1458 25.9373 17.9167 26.6665 20 26.6665ZM20 23.6665C18.75 23.6665 17.6875 23.229 16.8125 22.354C15.9375 21.479 15.5 20.4165 15.5 19.1665C15.5 17.9165 15.9375 16.854 16.8125 15.979C17.6875 15.104 18.75 14.6665 20 14.6665C21.25 14.6665 22.3125 15.104 23.1875 15.979C24.0625 16.854 24.5 17.9165 24.5 19.1665C24.5 20.4165 24.0625 21.479 23.1875 22.354C22.3125 23.229 21.25 23.6665 20 23.6665ZM20 31.6665C16.2778 31.6665 12.8819 30.6665 9.8125 28.6665C6.74306 26.6665 4.31944 24.0276 2.54167 20.7498C2.40278 20.4998 2.29861 20.2429 2.22917 19.979C2.15972 19.7151 2.125 19.4443 2.125 19.1665C2.125 18.8887 2.15972 18.6179 2.22917 18.354C2.29861 18.0901 2.40278 17.8332 2.54167 17.5832C4.31944 14.3054 6.74306 11.6665 9.8125 9.6665C12.8819 7.6665 16.2778 6.6665 20 6.6665C23.7222 6.6665 27.1181 7.6665 30.1875 9.6665C33.2569 11.6665 35.6806 14.3054 37.4583 17.5832C37.5972 17.8332 37.7014 18.0901 37.7708 18.354C37.8403 18.6179 37.875 18.8887 37.875 19.1665C37.875 19.4443 37.8403 19.7151 37.7708 19.979C37.7014 20.2429 37.5972 20.4998 37.4583 20.7498C35.6806 24.0276 33.2569 26.6665 30.1875 28.6665C27.1181 30.6665 23.7222 31.6665 20 31.6665Z" fill="#358F6C"/>
                  </svg>
                </button>
              </div>
            </label>
            <p id="katasandi-not-match" class="text-red-500 text-xs hidden">Kata sandi tidak sama</p>
          </div>
          <div class="flex flex-col gap-2 mt-7">
            <button type="submit" id="button-simpan-katasandi" disabled class="disabled:bg-main/50 w-full rounded-full bg-main text-sm font-bold text-white py-2.5">Selesai</button>
            <button type="button" id="button-batal-katasandi" class="w-full rounded-full bg-white text-sm font-normal text-main py-2.5 border border-main">Batal</button>
          </div>
        </div>
      </form>
    </section>
  </main>
</body>
<%- include('./layouts/footer'); -%>
<script src="/js/superAdminEdit.js"></script>
